.app-container {
  .app-container__header {
    display: flex;
  }

  .app-container__content {
    display: grid;
    grid-gap: 50px;

    @include breakpoint(mobile) {
      grid-template-columns: auto;
      grid-template-rows: 100px auto;
      margin: 10px;
    }  
    @include breakpoint(tablet) {
      max-width: 1600px;
      grid-template-columns: 100px auto;
      grid-template-rows: auto;
      margin: 50px;
    }
  }
}