.line-item-display {
  display: grid;
  grid-auto-rows: 50px;
  grid-gap: 2px;

  .line-item {
    display: grid;
    grid-template-columns: 10% 18% 18% 18% 22% 10%;
    grid-gap: 2px;

    .line-item__element {
      background: mediumslateblue;
      @extend %vertical-center-child;
    }

    .-header {
      font-weight: 800;
    }
  }
}