.line-item-display {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 2px;

  .-load-more {
    width: 200px;
    margin: 10px auto 0 auto;
  }

  .line-item {
    display: grid;
    grid-template-columns: 10% 18% 18% 18% 22% 10%;
    grid-gap: 2px;

    .line-item__element {
      background: mediumslateblue;
      @extend %vertical-center-child;
      > * {
        padding: 10px;
      }
    }

    .-header {
      font-weight: 800;
    }

    .-null {
      display: none;
    }
  }
}